* {
    margin: 0;
    padding: 0;
   }

header, nav, main, aside, section, article, footer, div {
    display: block;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: red;
    height: 96px;
    padding-top: 32px;
    display: flex;
}

#logo {
    margin-left: 32px;
    display: flex;
    background-image: url(/images/Pokemon_Card_Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    width: 64px;
    height: 64px;
}

#logo span{
    font-size: 24px;
    font-family: Nunito;
    font-weight: 700;
    color: #3E3F43;
    font-style: normal;
    margin-left: 64px;
    letter-spacing: 6px;
}

nav {
    margin-top: 16px;
    margin-left: 323px;
}

nav a.selected{
    font-weight: 700;
}

nav > a {
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

nav > a:hover {
    font-weight: 700;
}

nav > a:not(:first-child){
    margin-left: 64px;
}

/* Footer */
footer {
    background-color: #EFECFF;
    position: sticky;
    bottom: 0;
    height: 287px;
    width: 100vw;
    display: flex;    
}

footer > section{
    margin-top: 32px;
    margin-left: 32px;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
}

footer > section:last-child {
    margin-left: 150px;
}

footer > section > h3{
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px; 
    text-transform: uppercase;
    margin-bottom: 16px;
}

footer > section > a {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

#footer-social-media-icons {
    margin: 16px 0px;
}

#footer-social-media-icons a:not(:last-child) {
    margin-right: 24px;
}

#footer-social-media-icons span {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}